<?xml version="1.0"?>
<launch>
    <arg name="camera_id" default="alexa"/>
    <arg name="topic_in_image" default="/disasterprobe/image"/>
    <arg name="topic_in_gnss" default="/disasterprobe/gnss"/>
    <arg name="topic_in_heading" default="/disasterprobe/heading"/>
    <!-- <arg name="topic_in_relative_altitude" default="/disasterprobe/rel_alt"/> -->
    <arg name="topic_in_relative_altitude" default="/fake/rel_alt"/>
    <!-- <arg name="topic_in_orientation" default="/mavros/imu/data"/> -->
    <arg name="topic_out_adapter" default="/realm/$(arg camera_id)/input"/>
    <arg name="topic_pose_est" default="/realm/$(arg camera_id)/pose_estimation/frame"/>
    <arg name="topic_dense" default="/realm/$(arg camera_id)/densification/frame"/>
    <arg name="topic_surf" default="/realm/$(arg camera_id)/surface_generation/frame"/>
    <arg name="topic_rect" default="/realm/$(arg camera_id)/ortho_rectification/frame"/>
    <arg name="topic_mosaic" default="/realm/$(arg camera_id)/mosaicing/frame"/>

    <node pkg="rosbag" type="play" name="player" output="screen" args="--clock -s 50 /mnt/dataLinux/datasets/nijeholtpade_nadir_timesync.bag" />  
    <!-- <node pkg="rosbag" type="play" name="player" output="screen" args="-clock -r 0.7 -s 20  /mnt/dataLinux/datasets/nijeholtpade_nadir_fall.bag" />   -->

    <!-- <group ns="disasterprobe"> -->
        <!-- <node name="disasterprobe_bridge" pkg="disasterprobe_bridge" type="disasterprobe_bridge.py" output="screen" required="true"> -->
        <!-- <param name="video_input" value="rtmp://localhost/live" /> -->
        <!-- <param name="resize_video" value="true" /> -->
        <!-- <param name="resize_width" value="959" /> -->
        <!-- <param name="resize_height" value="720" /> -->
        <!-- </node> -->
    <!-- </group> -->

    <node pkg="realm_ros" type="realm_ros_grabber" name="realm_ros_grabber" output="screen">
        <param name="config/id" type="string" value="$(arg camera_id)"/>
        <param name="config/profile" type="string" value="mavic_reco"/>
        <param name="topic/image" type="string" value="$(arg topic_in_image)"/>
        <param name="topic/gnss" type="string" value="$(arg topic_in_gnss)"/>
        <param name="topic/heading" type="string" value="$(arg topic_in_heading)"/>
        <param name="topic/relative_altitude" type="string" value="$(arg topic_in_relative_altitude)"/>
        <param name="topic/out" type="string" value="$(arg topic_out_adapter)"/>
    </node>

    <!-- <node pkg="realm_ros" type="realm_stage_node" name="realm_pose_estimation" output="screen" launch-prefix="xterm -e gdb -ex run -args"> -->
    <node pkg="realm_ros" type="realm_stage_node" name="realm_pose_estimation" output="screen">
        <param name="stage/type" type="string" value="pose_estimation"/>
	    <param name="stage/master" type="bool" value="true"/>
        <param name="topics/input" type="string" value="$(arg topic_out_adapter)"/>
        <param name="topics/output" type="string" value="$(arg topic_pose_est)"/>
        <param name="config/id" type="string" value="$(arg camera_id)"/>
        <param name="config/profile" type="string" value="mavic_reco"/>
        <param name="config/method" type="string" value="orb_slam2"/>
        <!-- <param name="config/method" type="string" value="open_vslam"/> -->
    </node>

    <node pkg="realm_ros" type="realm_stage_node" name="realm_densification" output="screen">
        <param name="stage/type" type="string" value="densification"/>
        <param name="topics/input" type="string" value="$(arg topic_pose_est)"/>
        <param name="topics/output" type="string" value="$(arg topic_dense)"/>
        <param name="config/id" type="string" value="$(arg camera_id)"/>
        <param name="config/profile" type="string" value="mavic_reco"/>
        <param name="config/method" type="string" value="psl"/>
    </node>

    <node pkg="realm_ros" type="realm_stage_node" name="realm_surface_generation" output="screen">
        <param name="stage/type" type="string" value="surface_generation"/>
        <param name="topics/input" type="string" value="$(arg topic_dense)"/>
        <param name="topics/output" type="string" value="$(arg topic_surf)"/>
        <param name="config/id" type="string" value="$(arg camera_id)"/>
        <param name="config/profile" type="string" value="mavic_reco"/>
    </node>

    <node pkg="realm_ros" type="realm_stage_node" name="realm_ortho_rectification" output="screen">
        <param name="stage/type" type="string" value="ortho_rectification"/>
        <param name="topics/input" type="string" value="$(arg topic_surf)"/>
        <param name="topics/output" type="string" value="$(arg topic_rect)"/>
        <param name="config/id" type="string" value="$(arg camera_id)"/>
        <param name="config/profile" type="string" value="mavic_reco"/>
    </node>

    <node pkg="realm_ros" type="realm_stage_node" name="realm_mosaicing" output="screen">
        <param name="stage/type" type="string" value="mosaicing"/>
        <param name="topics/input" type="string" value="$(arg topic_rect)"/>
        <param name="config/id" type="string" value="$(arg camera_id)"/>
        <param name="config/profile" type="string" value="mavic_reco"/>
    </node>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find realm_ros)/rviz/realm.rviz" />



</launch>
